## Folders
.turbo
/packages/prisma/migrations
artifacts/*/
node_modules/
cache/
resources/*/build/
resources/*/*/build/
artifacts/*/

## Files
local.cfg
resources-local.cfg
yarn-error.log
lerna-debug.log
.env
.replxx_history